/* Main SCSS */

@import 'color';
@import 'typography';

* {
    box-sizing: border-box;
}

body {
    padding: 1em;
    background:$light-gray;
    color: $red;
    font-family: $main-font;
}

.header {
    color: $orange;
    font-weight: 100;
}

h1 {
    @extend .header;
}

@mixin perspective{
  transform:perspective(50em) rotateX(45deg);
}

@mixin window($color) {
    min-height: 200px;
    min-width: 300px;
    max-width: 40%;
    margin:2em;
    color:$color;
    background:#000;
    border: 1px solid $color;

    h2 {
        width:60%;
        padding: 0.25em 0.5em;
        margin: -1em 0 0 1em;
        color: $color;
        background: #000;
        border:1px solid $color;
        font-size: 1.1em;
        font-weight: 300;
    }
    p{
      margin:1em;
    }
}

.solar-system-db {
    @include window($orange);
}
